{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="background-image">
    <div class="container h-100">
        <div class="row h-100 justify-content-end align-items-center">
            <div class="col-12 col-md-6 text-end text-white">
                <h1 class="display-4 logo-font">
                    Welcome to Moonroot Market
                </h1>
                <p class="lead text-white">
                    Potions. Crystals. Ritual tools. Everything you need for your sacred space.
                </p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                            Enter the Circle
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}