html {
    height: 164px;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Lato', sans-serif;
    height: 100%;
    padding-top: 164px; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    width: 100%;
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.bg-white {
    background: #fff !important;
}

.font-weight-bold {
    font-weight: 700;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    body {
        padding-top: 164px; /* Apply padding for larger screens */
    }
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 0; /* No padding on smaller screens */
    }
    header {
        position: fixed; /* Change to relative for mobile if needed */
    }
    .navbar-toggler {
        display: block; /* Ensure hamburger is visible */
    }

    .navbar-collapse {
        display: none; /* Initially hide navbar content */
    }

    .navbar-toggler.collapsed + .navbar-collapse {
        display: block; /* Show navbar when toggled */
    }
}
